<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/138041c2-b600-481a-88ff-aaa652cd1061/resourceGroups/myFirstAzureWebApp1234/providers/Microsoft.Web/sites/myFirstAzureWebApp1234</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://myfirstazurewebapp1234.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>myfirstazurewebapp1234.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myFirstAzureWebApp1234</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myFirstAzureWebApp1234</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>